# Ch06 - Combining datasets (Medium)

In [2]:
import numpy as np
import pandas as pd

In [3]:
rng = pd.date_range('2000-01-01', '2000-01-05')

In [4]:
tickers = pd.DataFrame(['MSFT', 'AAPL'], columns= ['Ticker'])

In [5]:
df1 = pd.DataFrame({'TickerID': [0]*5,
                   'Price': np.random.normal(100, 10, 5)}, index=rng)

In [6]:
df2 = pd.DataFrame({'TickerID': [1]*5, 
                    'Price': np.random.normal(100, 10, 5)}, 
                   index=rng)

In [7]:
pd.merge(df1, df2, left_index=True, right_index=True)

               Price_x  TickerID_x     Price_y  TickerID_y
2000-01-01  102.005288           0   99.777376           1
2000-01-02   88.999480           0  114.273764           1
2000-01-03   96.126734           0   91.647032           1
2000-01-04  109.119551           0   90.568197           1
2000-01-05   92.847688           0  106.449355           1

In [8]:
pd.merge(df1, tickers, right_index=True, left_on='TickerID')

                 Price  TickerID Ticker
2000-01-01  102.005288         0   MSFT
2000-01-02   88.999480         0   MSFT
2000-01-03   96.126734         0   MSFT
2000-01-04  109.119551         0   MSFT
2000-01-05   92.847688         0   MSFT