# Ch02 - Slicing pandas objects (Simple)

In [3]:
import numpy as np
import pandas as pd

In [6]:
dim = (10, 3)
df = pd.DataFrame(np.random.normal(0, 1, dim), columns=['one', 'two', 'three'])

In [12]:
df.head()

        one       two     three
0 -0.307193 -0.153684  0.443203
1  1.104274 -0.770589 -0.291118
2  0.170701  1.764555 -1.093696
3  0.338280  0.814837  0.050361
4  0.217414 -1.335033  0.205164

In [29]:
df['one'][:2]

0   -0.307193
1    1.104274
Name: one, dtype: float64

In [30]:
df[['one', 'two']][:2]

        one       two
0 -0.307193 -0.153684
1  1.104274 -0.770589

* Use .loc

In [17]:
df.loc[:2, ['one', 'two']]

        one       two
0 -0.307193 -0.153684
1  1.104274 -0.770589
2  0.170701  1.764555

In [33]:
df.ix[:2, ['one', 'two']]

        one       two
0 -0.307193 -0.153684
1  1.104274 -0.770589
2  0.170701  1.764555

In [28]:
df[['one', 'two']][-3:-2]

        one       two
7 -0.385934  0.023691

* Use iloc

In [27]:
df.iloc[-3:-2, 0:2]

        one       two
7 -0.385934  0.023691

In [34]:
df[::5]

        one       two     three
0 -0.307193 -0.153684  0.443203
5  0.284679  0.179049 -1.465171

In [35]:
df.head(2)

        one       two     three
0 -0.307193 -0.153684  0.443203
1  1.104274 -0.770589 -0.291118