# Ch03 - Subsetting data (Simple)

In [2]:
import pandas as pd
import numpy as np

In [3]:
d = {'Cost': np.random.normal(100, 5, 100),
     'Profit': np.random.normal(50, 5, 100),
     'CatA': np.random.choice(['a', 'b', 'c'], 100),
     'CatB': np.random.choice(['e', 'f', 'g'], 100)}

In [4]:
df = pd.DataFrame(d)

In [6]:
df.head()

  CatA CatB        Cost     Profit
0    c    g  101.454459  52.808246
1    a    g   97.195107  46.421114
2    b    e  107.037610  49.394001
3    b    e   93.468270  43.925241
4    c    e   96.510616  53.385744

In [7]:
print (df[df.CatA == 'a'][:5])

   CatA CatB        Cost     Profit
1     a    g   97.195107  46.421114
11    a    e  102.801902  51.788275
12    a    f   97.560271  58.403121
13    a    e  113.309823  45.633916
18    a    g  111.328861  52.827630

In [9]:
mask = np.logical_and(df.CatA=='a', df.CatB=='e')
df[mask][:5]
a_e = ['a', 'e']
CatA_a_e = df[df.CatA.isin(a_e)]
CatA_a_e.head()

   CatA CatB        Cost     Profit
1     a    g   97.195107  46.421114
11    a    e  102.801902  51.788275
12    a    f   97.560271  58.403121
13    a    e  113.309823  45.633916
18    a    g  111.328861  52.827630

In [10]:
only_a_e = CatA_a_e[CatA_a_e.CatB.isin(a_e)]

In [11]:
print (only_a_e[:5])

   CatA CatB        Cost     Profit
11    a    e  102.801902  51.788275
13    a    e  113.309823  45.633916
26    a    e   92.453381  55.524267
28    a    e   91.936194  49.898428
39    a    e   93.415774  52.785386